

.bg {
    
  color:white;
  
  height: 350px; /*same height as jumbotron */
  

}

.jumbotron {
  background: url('../deers.png') no-repeat center center;
  background-size: cover;
  margin-bottom: 0px;
  width: 100%;
  height: 400px;
  top:0;
  left:0;
  z-index: -1;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;



}


#title-text{
	padding-top:50px;
	padding-bottom:80px;

}

.card{
	min-height:15rem;
	min-width:15rem;
	margin:5px;

}

.cards{
}

.modal-image{
	width:100%;
}

h1{
	text-align:center;
}

#messages{
	background-color: #F0F0F0;
}

#welcome{
	background-color: white;
	padding:10px;

}
#getting-started{
	background-color: white;
	padding:30px;
}

#available-commands{
	background-color: #F5F5F5;
}